---
---

$table-height: 76px;

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

#background {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
    background-size: cover;
    opacity: 0;
    @include transition(opacity 1s);

    img {
        display: none;
    }
}

nav {
    background-color: orangered;

    #searchbar {
        width: 100%;

        @media only screen and (min-width: 601px) {
            width: 540px;
        }

        .input-field {
            width: 100%;
            height: 56px;

            @media only screen and (min-width: 601px) {
                height: 64px;
            }
        }
    }
}

iframe {
    background-color: white;
    opacity: 0;
    @include transition(opacity 1s);
}

.btn-device {
    background-color: orangered;
}

.btn-device:hover, .btn-device:active {
    background-color: #ff5611;
}

#devices {
    position: fixed;
    bottom: $table-height;
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        display: block;
    }

    .wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 1920px;
        @include calc(height, '100vh - 56px - ' $table-height);

        .device {
            bottom: 0px;
            float: left;
            position: absolute;
            display: inline-block;

            .device-wrapper {
                position: relative;

                .bezel {
                    position: absolute;
                    box-sizing: border-box;
                    overflow: hidden;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;

                    .iframe-wrapper {

                        iframe {
                            border: 0px;
                            -ms-transform-origin: 0 0;
                            -moz-transform-origin: 0 0;
                            -o-transform-origin: 0 0;
                            -webkit-transform-origin: 0 0;
                            transform-origin: 0 0;
                            overflow: hidden;
                        }

                        iframe::-webkit-scrollbar {  
                            display: none;
                        }
                    }
                }
            }

            .btn-wrapper {
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
                top: 100%;
                min-width: 100%;
                text-align: center;
                overflow-y: hidden;
                overflow-x: visible;
                padding: 0px;
                max-height: 0px;
                height: $table-height;
                @include transition(all 0.3s);
            }

        }

        .device:hover {
            .btn-wrapper {
                max-height: $table-height;
                padding: 10px 0px 30px 0px;
            }
        }

        .device-imac {
            width: 65%;
            bottom: 0px;
            left: 5%;
            padding-bottom: 4px;
            z-index: 5;

            .bezel-imac {
                padding: 4.6% 5.06% 0 5.06%;

                iframe {
                    width: 2560px;
                    height: 1440px;
                    z-index: 6;
                }
            }
        }

        .device-macbook {
            @include calc(width, '65% * 0.662');
            bottom: 0px;
            right: 5%;
            padding-bottom: 2px;
            z-index: 7;

            .bezel-macbook {
                padding: 2.8% 11.2% 0 11.78%;;

                iframe {
                    width: 1440px;
                    height: 900px;
                    z-index: 8;
                }
            }
        }

        .device-ipad {
            display: none;
        }

        .device-ipad.portrait {
            @include calc(width, '5% * 2.02');
            bottom: 0px;
            right: 20%;
            padding-bottom: 4px;
            z-index: 7;

            .bezel-ipad {
                padding: 11% 9% 0 9.5%;

                iframe {
                    width: 768px;
                    height: 1024px;
                    z-index: 8;
                }
            }
        }

        .device-ipad.landscape {
            @include calc(width, '5% * 2.63');
            bottom: 0px;
            right: 7.5%;
            padding-bottom: 2px;
            z-index: 9;

            .bezel-ipad {
                padding: 7.7% 8.3% 0 9%;;

                iframe {
                    width: 1024px;
                    height: 768px;
                    z-index: 10;
                }
            }
        }

        .device-iphone.six-plus {
            width: 8%;
            bottom: 0px;
            left: 12.5%;
            padding-bottom: 2px;
            z-index: 9;

            .bezel-iphone-six-plus {
                padding: 23.5% 6.1% 0 6%;;

                iframe {
                    width: 414px;
                    height: 736px;
                    z-index: 10;
                }
            }
        }
    }
}

#devices.landscape {
    .wrapper {
        @include calc(height, '100vh - 64px - ' $table-height);

        .device-imac {
            width: 40%;
            left: 7.5%;
        }

        .device-macbook {
            @include calc(width, '40% * 0.662');
            right: auto;
            left: 40%;
        }

        .device-iphone.six-plus {
            width: 5%;
            left: 10%;
        }

        .device-ipad {
            display: block;
        }
    }
}

#devices, #devices.landscape {
    .wrapper.flex-wrapper {

        .device {
            max-width: 90%;
        }

        .device-ipad {
            display: block;
        }

        .device-imac {
            @include calc(width, '1.19 * (100vh - 64px - 70px - ' $table-height ')');
            left: 50%;
            @include transform(translateX(-50%));
        }

        .device-macbook {
            @include calc(width, '1.75 * (100vh - 64px - 70px - ' $table-height ')');
            left: 50%;
            @include transform(translateX(-50%));
        }

        .multi-wrapper {
            max-width: 90%;
            position: absolute;
            bottom: 0px;
            
            .device {
                max-width: 100%;
            }
        }

        .multi-wrapper-ipad {
            @include calc(width, '1.7 * (100vh - 64px - 70px - ' $table-height ')');
            left: 50%;
            @include transform(translateX(-50%));

            .device-ipad.portrait {
                width: 45%;
                left: 0px;
            }

            .device-ipad.landscape {
                width: 58%;
                right: 0px;
            }
        }

        .multi-wrapper-iphone {
            @include calc(width, '0.49 * (100vh - 64px - 70px - ' $table-height ')');
            left: 50%;
            @include transform(translateX(-50%));
            
            .device-iphone.six-plus {
                width: 100%;
                left: 0px;
            }
        }

    }
}

#table-top {
    width: 100%;
    height: 10px;
    z-index: -1;
    position: fixed;
    bottom: $table-height;
    background-color: orangered;
}

#table {
    width: 100%;
    height: $table-height;
    z-index: -1;
    position: fixed;
    bottom: 0px;
    background-image: url(../img/background.png);

    .btn {
        margin-left: 5vw;
        margin-top: 10px;
    }
}

#demo {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    .demo-wrapper {
        margin: 50px 5vw;
        max-width: 1280px;
        
        h1 {
            color: orangered;
            text-transform: uppercase;
            font-size: 5vw;
            
            @media (min-width: 1280px) {
                font-size: 64px;
            }
        }
    }
}