---
---

$table-height: 56px;

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

#background {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
    background-size: cover;
    opacity: 0;
    @include transition(opacity 1s);

    img {
        display: none;
    }
}

nav {
    background-color: orangered;

    #searchbar {
        width: 100%;

        @media only screen and (min-width: 601px) {
            width: 540px;
        }

        .input-field {
            width: 100%;
            height: 56px;

            @media only screen and (min-width: 601px) {
                height: 64px;
            }
        }
    }
}

iframe {
    background-color: white;
}

#devices {
    position: fixed;
    bottom: $table-height;
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        display: block;
    }

    .wrapper {
        margin: 0 auto;
        overflow: hidden;

        .device {
            bottom: 0px;
            float: left;
            position: absolute;
            display: inline-block;

            iframe {
                border: 0px;
                position: absolute;
                -ms-transform-origin: 0 0;
                -moz-transform-origin: 0 0;
                -o-transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                overflow: hidden;
            }

            iframe::-webkit-scrollbar {  
                display: none;
            }

            .btn-wrapper {
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
                top: 100%;
                min-width: 100%;
                text-align: center;
                overflow-y: hidden;
                overflow-x: visible;
                padding: 0px;
                max-height: 0px;
                height: 56px;
                @include transition(all 0.3s);
                
                .btn-device {
                    background-color: orangered;
                }
                
                .btn-device:hover, .btn-device:active {
                    background-color: #ff5611;
                }
            }

        }

        .device:hover {
            .btn-wrapper {
                max-height: 56px;
                padding: 10px 0px;
            }
        }

        .imac {
            width: 65%;
            bottom: 0px;
            left: 5%;
            padding-bottom: 4px;
            z-index: 5;

            iframe {
                top: 5.71%;
                left: 5.06%;
                width: 2560px;
                height: 1440px;
                z-index: 6;
            }
        }

        .macbook {
            width: 43%;
            bottom: 0px;
            right: 5%;
            padding-bottom: 2px;
            z-index: 7;

            iframe {
                top: 4.51%;
                left: 11.78%;
                width: 1440px;
                height: 900px;
                z-index: 8;
            }
        }

        .ipad {
            display: none;
        }

        .ipad.portrait {
            left: -60px;
            width: 190px;
            z-index: 7;
            bottom: 2px;

            iframe {
                display: none;
                top: 8%;
                left: 10%;
                width: 768px;
                height: 1024px;
                z-index: 8;
            }
        }

        .ipad.landscape {
            left: -70px;
            width: 248px;
            z-index: 9;

            iframe {
                top: 9.9%;
                left: 9.3%;
                width: 1024px;
                height: 768px;
                z-index: 10;
            }
        }

        .iphone.six-plus {
            width: 8%;
            bottom: 0px;
            left: 12.5%;
            padding-bottom: 2px;
            z-index: 9;

            iframe {
                top: 11.5%;
                left: 6.75%;
                width: 414px;
                height: 736px;
                z-index: 10;
            }
        }
    }
}

#table-top {
    width: 100%;
    height: 10px;
    z-index: -1;
    position: fixed;
    bottom: $table-height;
    background-color: orangered;
}

#table {
    width: 100%;
    height: $table-height;
    z-index: -1;
    position: fixed;
    bottom: 0px;
    background-image: url(../img/background.png);
}