<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        {% include imports.html %}
        <script>
            function backgroundLoaded(id) {
                var url = "url('" + document.getElementById(id).src + "')";
                var parent = document.getElementById(id).parentNode;
                parent.style.backgroundImage = url;
                parent.style.opacity = "1";
            }
            
            function setScale() {
                var mobileImacWidth = .65;
                var mobileModifier = mobileImacWidth * 0.895;
                var mobileIphoneWidth =.08;
                var mobileRetinaModifier = mobileIphoneWidth * 5.419;
                var windowWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                var scaleWidth = {{ site.scale-width }};
                var scale = windowWidth / scaleWidth;
            
                var style = document.createElement('style');
                // style.setAttribute("media", "screen")
                // style.setAttribute("media", "only screen and (max-width : 1024px)")
                // WebKit hack :(
                style.appendChild(document.createTextNode(""));
                
                // Add the <style> element to the page
                document.head.appendChild(style);
                var sheet = style.sheet;
                sheet.insertRule(".device iframe { transform: scale(" + (scale * mobileModifier) + ")}", 0);
                sheet.insertRule(".device.retina iframe { transform: scale(" + (scale * mobileRetinaModifier) + ")}", 0);
                
                console.log(windowWidth);
                console.log(scaleWidth);
                console.log(scale);
            }
            
            setScale();
        </script>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <form id="searchbar" class="left">
                        <div class="input-field">
                            <input id="search" type="search" required value="{{ site.search-url }}">
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
        {% include scripts.html %}
    </body>

</html>
