<!DOCTYPE html>
<html>
    <head>
        {% include imports.html %}
        <script>
            function backgroundLoaded(id) {
                var url = "url('" + document.getElementById(id).src + "')";
                var parent = document.getElementById(id).parentNode;
                parent.style.backgroundImage = url;
                parent.style.opacity = "1";
            }
        </script>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <form id="searchbar" class="left">
                        <div class="input-field">
                            <input id="search" type="search" required value="{{ site.search-url }}">
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
        {% include scripts.html %}
    </body>

</html>
